<div id="home-container">
    <div id="shop-button-container">
        <button id="go-to-shop">Shop</button>
    </div>
    <div id="articles-container">
        <div class="article">
            <h1 class="article-title">Title</h1>
            <p class="article-preface">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, aliquam!</p>
        </div>
    </div>
</div>
<script src="./js/shop-redirect.js"></script>